<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--Un appender es donde querermos que se muestre la informacion de la app de log4j-->
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!--Indicamos el patron que queremos que se muestre en la consola-->
            <PatternLayout pattern="(%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
    <Logger name="com.opensymphony.xwork2" level="info"/>
    <Logger name="org.apache.struts2" level="info"/>
    <Root level="info">
        <AppenderRef ref="STDOUT"/>
    </Root>
    </Loggers>
</Configuration>