<div class="container">
  <div class="col">
    <h1>{{ titulo }}</h1>
  </div>
  <hr/>
  <!--133 Se coloca el codigo del componente hijo formulario
          Se utiliza evenBinding el evento a monitoriar sera que al momento de llamar el metodo personaCreada Definido en formulario . ts
          y se manda llamar el metodo personaAgregada el cual recbie un objeto event-->
  <app-formulario
  (personaCreada)="personaAgregada($event)"
  >
  </app-formulario>
  <hr/>
</div>
<!--133 Se incluye el codigo del componente persona, y en esa parte se itera el arreglo de pesonas ya que este componente padre tiene el arreglo de personas
        Se pasa la informacion del objeto persona y del index utilizando property binding y ya desde el component.ts del hijo se recupera esta informacion  -->
<app-persona
*ngFor="let personaElemento of personas; let i = index"
[persona]="personaElemento"
[indice]="i"
>
</app-persona>





