/* Links como botones en HTMLy CSS*/
h1{
    color: #560bad;
}
/*Para simular links como boton, se pueden agregar los siguientes estilos*/
a:link, a:visited{
    background-color: #b5179e;
    color:white;
    padding:15px 25px;
    text-align: center;
    text-decoration: none;
    /*El sig atributo hace que no se encimen los links*/
    display: inline-block;
}
a:hover, a:active{
    background-color: #f72585;
}