<div class="container">
  <div class="row">
    <div class="col">
      <!--132 Utilizamos la directiva *ngFor para iterar los elementos del
        arreglo de pesonas, se declara una variable donde se almacenaran los objetos persona
        Y se especifica el nombre del arreglo
        Tambien se puede especificar el indice del elmento del arreglo con la directiva index del ngfor-->
      <div>
        {{ indice + 1 }} {{persona.nombre}} {{persona.apellido}}
        <!--134 Se agrega un boton para mandar llamar el metodo emitir saludo-->
        <button  type="submit" class="btn btn-info" (click)="emitirSaludo()">Ediar</button>
      </div>
    </div>
  </div>
</div>



